h1{
    background: rgb(58, 226, 43);
    color: rgb(68, 83, 146);
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(158, 95, 95);
}
.back-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: beige;
    color: aquamarine;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-family: monospace;
}